body {
	background-color: #fff2d1;
	font-size: 18px;
}

header {
	background-image: url("assets/sambr.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-color: #061a42;

}

#profilepic {
	max-height: 13em;
	display: block;
	margin: 0 auto;
	padding: 1em 0em 0em 0em;
}

.left {
	float: left;
	width: 40%;
	/*max-width: 40%;
	min-width: 40%;*/
	margin-left: 5%;
}

.right {
	float: left;
	width: 40%;
	/*max-width: 40%;
	min-width: 40%;*/
	margin-left: 10%;
}

section  {
	clear: both;
}

#name {
	text-align: center;
	font-family: 'Bangers', cursive;
	color: #fff2d1;
	font-size: 2em;
	padding-bottom: 1.5em;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	color: #e05944;
	font-size: 1.25em;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: #272727;
	line-height: 1.25em;
}

a {
	text-decoration: none;
	color: #272727;
}

a:hover {
	color: red;
}

@media screen and (max-width: 500px) {
	body {
		background-image: url("assets/sambr.jpg");
		background-position: center;
		background-repeat: no-repeat;
		font-size: 14px;
	}

	header {
		background-image: none;
		background-color: transparent;
	}

	#profilepic {
		max-height: 17em;
		display: block;
		margin: 0 auto;
		padding: 1em 0em 0em 0em;
	}
	
	#name{
		font-size: 3em;
		padding-bottom: 0em;
	}

	.left {
		float: none;
		width: 100%;
		margin-left: 0%;
	}

	.right {
		float: none;
		width: 1000%;
		margin-left: 0%;
	}
	
	h2 {
		color: #fff2d1;
		font-size: 1.8em;
	}

	p {
		display: none;
	}
} 