body {
	background-image: url("celias-assets/elipse.png"), url("celias-assets/celias-background.jpg");
	background-repeat: no-repeat, repeat-y;
	background-size: cover, cover;
	font-family: "Snell Roundhand", serif;	
}

nav {
	color: #d2d3d4;
	text-align: center;
	text-align: right;
	display: inline-block;
	color: #08cef9;
}

a {
	color: #d2d3d4;
}

#logo {
  font-size: 72px;
  color: #08cef9;
  text-align: center;
  margin-top: 25%;
  margin-bottom: 0%;
}

.section {
	color: #d2d3d4;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-top: 0%;
}

p {
	color: #d2d3d4;
	text-align: center;
	font-family: arial, sans-serif;
}

#resi {
	color: white;
  text-align: center;
  margin-top: 0%;
}
