body {
	background-image: url("Taasky/stripes.png"), url("Taasky/background.jpg");
	background-repeat: repeat-x, no-repeat;
	background-size: auto, center;
	background-color: #535a6a;
}

#logo {
	margin-top: 200px;
	margin-left: 100px;
}

hr {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 100px;
	width: 50px;
	border: 1px solid #fd6e6e;
}

p {
	margin-left: 100px;
	font-family: arial, sans-serif;
	font-size: 18px;
	color: white;
}

#appstore {
	margin-top: 10px;
	margin-left: 100px;
}