body {
    background-image: url(assets/background-darkwood-hibiscus-brush.png);
    background-size: cover;
}

/*add a dark background color to the body.*/

nav {
    margin: 0 auto;
    width: 80%;

}
nav li {
    float: left;

    list-style:none;
    margin-left: 2%;
    padding: 0 10px;
    text-align: center;
    width: 15%;
}

ul {
    width: 100%;
    padding: 0;

}

nav a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Great Vibes', cursive;
    color: #e8e8e8;
    display: block;
}

a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #e8e8e8;
}

a:hover {
    color: #e43600;
}

h1 {
     font-family: 'Open Sans', sans-serif;
     color: #d67f15;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: #e8e8e8;
    font-size: 18px
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #e8e8e8;
}

/*change the line spacing and edit the copy to be smaller*/

#logo {
	max-height: 100px;
	max-width: 100px;
    margin-top: -30px;
    /*top-padding: 0*/
}

hr {
    width: 80%;
    border-color: #b1b1b1;
}

section {
    margin: auto center;
    margin-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}

#left-block {
    float: left;
    width: 49%;
    padding-right: 1%;
}

.red {
    color: #e43600;
    font-weight: bold;
}

#right-block {
    float: left;
    width: 50%;
    margin-bottom: 1%;
}

.right-block-text {
    padding-left: 10%;
}

.hero-image {
    max-width: 100%;
}

.menu-image {
    max-width: 90%
    margin: auto center;
}

#lunch {
    float: left;
    width: 33%;
    padding-top: 10%;
    padding-bottom: 10%;

}

#dinner {
    float: left;
    width: 33%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#cocktails{
    float: left;
    width: 33%;
    padding-top: 10%;
    padding-bottom: 10%;
}

footer {
    text-align: center;
    clear: both;
}

#logo-footer {
    font-family: 'Great Vibes', cursive;
    color: #e8e8e8;
    margin-bottom: 0px;
}