body {
    background-image: url(assets/background-darkwood-hibiscus-brush.png);
    background-size: cover;
}

nav {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;;
/*margin: 0 auto;
  width: %*/

}
nav li {
    display:inline;
    padding: 20px;
    margin-top: -30px;

/*float: left
Top padding: */
}
nav a {
    display:inline-block;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Great Vibes', cursive;
    color: #e8e8e8;
}

a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #e8e8e8;
}

a:hover {
    color: #e43600;
}

h1 {
     font-family: 'Open Sans', sans-serif;
     color: #d67f15;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: #e8e8e8;
    font-size: 18px
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #e8e8e8;
}

#logo {
	max-height: 100px;
	max-width: 100px;
    /*top-padding: 0*/
}

hr {
    width: 80%;
    border-color: #b1b1b1;
}

section {
    margin: auto center;
    margin-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
}

#left-block {
    float: left;
    width: 49%;
    padding-right: 1%;
}

.red {
    color: #e43600;
    font-weight: bold;
}

#right-block {
    float: left;
    width: 50%;
    margin-bottom: 1%;
}

.right-block-text {
    padding-left: 10%;
}

.hero-image {
    max-width: 100%;

}

.menu-image {
    max-width: 90%
}

#lunch {
    float: left;
    width: 33%;
    padding-top: 10%;
    padding-bottom: 10%;

}

#dinner {
    float: left;
    width: 33%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#cocktails{
    float: left;
    width: 33%;
    padding-top: 10%;
    padding-bottom: 10%;
}

footer {
    text-align: center;
    clear: both;
}

#logo-footer {
    font-family: 'Great Vibes', cursive;
    color: #e8e8e8;
}